.Footer{
    background-image: url('/assets/images/FooterV1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 170px;
}

.Footer-description{
    padding-top: 1.5em;
}

.Footer-link{
    margin-top: 3em;
    border-radius: 2em;
    color: white;
    margin-right: .5em;
    padding: .5em 1em;
}
.Footer-link[href*="twitter"]{
    background-color: #00acee;
}
.Footer-link[href*="facebook"]{
    background-color: #3b5998;
}
.Footer-link[href*="instagram"]{
    background-color: #3f729b;
}