<p>clientes-list works!</p>

<ul>
    <li><a [routerLink]="['/clientes/clientes-create']" >Clientes-create</a></li>
    <li><a [routerLink]="['/clientes/clientes-update']" >Clientes-update</a></li>
    <li><a [routerLink]="['/clientes/clientes-view']" >Clientes-view</a></li>
</ul>

<style>
    table,
    tr,
    th {
        border: 4px solid lightseagreen;
        border-collapse: inherit;
    }
</style>

<table>
    <tr>
        <th>Id </th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Document</th>
    </tr>
    <tr *ngFor="let item of clientesList">
        <th>{{ item.id }}</th>
        <th>{{ item.client_name }}</th>
        <th>{{ item.client_email }}</th>
        <th>{{ item.phone_number }}</th>
        <th>{{ item.document_number }}</th>
    </tr>
</table>