.Slider{
    width: 86%;
    margin: auto;
    overflow: hidden;
}

.Slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in;
}

.Slider li{
    width: 100%;
    list-style: none;
}

.Slider img{
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%}

    50% {margin-left: -200%;}
    70% {margin-left: -200%}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}