<div class="Slider">
    <ul>
        <li><img class="Slider-image" src="/assets/images/slider1.jpg" alt="Slider"></li>
        <li><img class="Slider-image" src="/assets/images/slider2.jpg" alt="Slider"></li>
        <li><img class="Slider-image" src="/assets/images/slider3.jpg" alt="Slider"></li>
        <li><img class="Slider-image" src="/assets/images/slider4.jpg" alt="Slider"></li>
    </ul>
</div>
