.Contact-tittle{
    text-align: center;
    text-shadow: black;
    margin-top: 5em;
}

.Contact-form{
    margin-top: 3em;
    margin-bottom: 4em;
}


.Contact-formInput{
    background-color: lightgray;
    border-color: black;
    display: block;
    border-radius: 2em;
    padding: .5em;
    margin: 0 auto 1em;
    color: black;
    width: 40%;
}
.Contact-button{
    background-color: black;
    color: white;
    border-radius: 1em;
    border: none;
    padding: .5em 1em;
    display: block;
    margin: auto;
}

