<footer id="contact" class="Contact">
    <h2 class=Contact-tittle>Contactenos</h2>
    <form class="Contact-form">
        <input class="Contact-formInput" type="text" placeholder="Nombre">
        <input class="Contact-formInput" type="email" placeholder="Email">
        <input class="Contact-formInput" type="phone" placeholder="Telefono">
        <input class="Contact-formInput" type="direction" placeholder="Dirección">
        <button class="Contact-button" type="submit">Contact</button>
    </form>
</footer>
