    <header id="me" class="Header">
        <!--Begin Navbar-->
        <nav class="MainMenu">
            <ul class="MainMenu-list">
                <li class="MainMenu-list"><a class=MainMenu-link [routerLink]="['../clientes/clientes-list']" >Clientes</a></li>
                <li class="MainMenu-list"><a class=MainMenu-link [routerLink]="['../productos/productos-list']">Productos</a></li>
            </ul>
        </nav>
        <!--End Navbar-->
        <!--Figure for Avatar-->
        <figure class="Header-imageContainer">
            <img class="Header-image" src="/assets/images/AvatarBlack.jpg" alt="Logo">
            <div class="Header-right">
            <p class="Header-description">La calidad no solo es visualización, tambien es responsabilidad en donde pocos puedes confiar</p>
        </div>
        </figure>
    </header>