.Header{
    background-image: url('/assets/images/HeaderDisc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-top: 3.75em;
    text-align: center;
    margin:0;
}


.Header-image{
    margin: 0;
    width: 30%;
    border-radius: 10%;
    border: 1px solid white;
    display: block;
    position: relative;
    left: 2em;
    top: 2.5em;
}

.Header-description{
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.Header-link a{
    color: white;
    font-size: 4em;
    font-weight: bold;
}
.MainMenu{
  background-color: black;
  text-align: right;  
  height: 3.75em;
  line-height: 3.75em;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1; 
}
.MainMenu-link{
    margin-right: 1.5em;
    color: white;
    text-decoration: none;
}
.MainMenu-list{
    display: inline-block;
    margin: 0;
    padding-right: 3.2em;
}

.Header-right{
    width: 40em;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 1.9em;
    display: block;
    position: relative;
    left: 20em;
    bottom: 11em;
}