<section id="featured" class="Featured">
    <h2 class="U-title Featured-title">Computadoras destacadas</h2>
    <article class="Featured-item">
        <figure class="Featured-imageContainer">
            <img class="Featured-image" src="/assets/images/destacado1.jpg" alt="Image of Project">
            <figcaption class="Featured-description">
                Asus Zenbook Duo Pro
            </figcaption>
        </figure>
    </article>
    <article class="Featured-item">
        <figure class="Featured-imageContainer">
            <img class="Featured-image" src="/assets/images/destacado2.jpg" alt="Image of Project">
            <figcaption class="Featured-description">
                Macbook Pro 2019
            </figcaption>
        </figure>
    </article>
    <article class="Featured-item">
        <figure class="Featured-imageContainer">
            <img class="Featured-image" src="/assets/images/destacado3.jpg" alt="Image of Project">
            <figcaption class="Featured-description">
                HP Spectre x360
            </figcaption>
        </figure>
    </article>
    <article class="Featured-item">
        <figure class="Featured-imageContainer">
            <img class="Featured-image" src="/assets/images/destacado4.jpg" alt="Image of Project">
            <figcaption class="Featured-description">
                Lenovo Yoga 920
            </figcaption>
        </figure>
    </article>
</section>
