.Featured{
    text-align: center; 
}

.Featured-imageContainer{
    margin: 1em 0;
}

.Featured-image{
    width: 80%;
}

.Featured-item{
    display: inline-block;
    width: 35%;
}

.Featured-description{
    font-weight: bold;
    font-size: 2em;
    box-shadow: 2px 2px 10px black;
}