<p>productos-list works!</p>
<ul>
    <li><a [routerLink]="['/productos/productos-create']" >Clientes-create</a></li>
    <li><a [routerLink]="['/productos/productos-update']" >Clientes-update</a></li>
    <li><a [routerLink]="['/productos/productos-view']" >Clientes-view</a></li>
</ul>

<style>
    table,
    tr,
    th {
        border: 4px solid lightseagreen;
        border-collapse: inherit;
    }
</style>

<table>
    <tr>
        <th>Id </th>
        <th>model</th>
        <th>price</th>
        <th>serial</th>
    </tr>
    <tr *ngFor="let item of clientesList">
        <th>{{ item.id }}</th>
        <th>{{ item.model }}</th>
        <th>{{ item.price }}</th>
        <th>{{ item.serial }}</th>
    </tr>
</table>